html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #201F1F;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  margin-bottom: 3rem;
  font-size: clamp(3rem, 3vw, 3.6rem);
}

h3 {
  margin-top: 3rem;
  font-size: clamp(2rem, 3vw, 3.6rem);
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #FFF;
}

.title, .subtitle {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.4rem, 3vw, 6.7rem);
  font-weight: 700;
  line-height: auto;
}

.subtitle {
  color: #201F1F;
  font-size: 3.6rem;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  line-height: 1.6;
  margin: 0;
}

span {
  font-weight: normal;
}

.toTop {
  display: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.btn, .dropbtn--nav, .dropbtn, .btn--blank, .btn--outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #BF9D36;
  padding: 1.8rem 2.2rem;
  color: #FFF;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-weight: 500;
  border: 1px solid #BF9D36;
  border-radius: 3px;
  outline: none;
}

.btn--outline {
  background-color: transparent;
}

.btn--blank {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropbtn {
  width: 20rem;
  border: none;
  cursor: pointer;
}

.dropbtn--nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 12rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon--outline {
  font-size: 1.8rem;
  color: #BF9D36;
  margin-right: 10px;
}

.btn__icon {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.btn__icon--com {
  font-size: 2rem;
  margin-right: 1rem;
  color: #201F1F;
}

.btn:hover, .btn--outline:hover, .btn--blank:hover, .dropbtn:hover, .dropbtn--nav:hover,
.btn:active,
.btn--outline:active,
.btn--blank:active,
.dropbtn:active,
.dropbtn--nav:active {
  background-color: #CFB66C;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #201F1F;
}

.btn--blank:hover {
  background-color: transparent;
  color: #BF9D36;
  -webkit-transform: none;
          transform: none;
}

.dropbtn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.dropbtn--nav:hover {
  background-color: transparent;
  -webkit-transform: none;
          transform: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #BF9D36;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 4rem 4rem;
  position: fixed;
  width: calc(100vw - 9.7rem);
  z-index: 200;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__logo .logo__text {
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  margin-left: 10px;
}
.header__logo .logo__text:hover {
  color: #CFB66C;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media screen and (min-width: 992px) {
  .header .navbar {
    width: auto;
  }
}
.header .navbar__list {
  position: fixed;
  top: -100vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  background-color: #201F1F;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: -1;
  text-align: center;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
@media screen and (min-width: 992px) {
  .header .navbar__list {
    z-index: 1;
  }
}
@media screen and (min-width: 992px) {
  .header .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    width: auto;
    background-color: transparent;
  }
}
.header .navbar__list .list__item {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .header .navbar__list .list__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.header .navbar__list .list__item .item__link {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
}
.header .navbar__list .list__item .item__link:hover {
  border-bottom: 1px solid #BF9D36;
  padding-bottom: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.header .navbar__list .icon--outline {
  color: #FFF;
}
.header .navbar .dropdown--nav {
  position: relative;
  display: inline-block;
}
.header .navbar .dropdown--nav-content {
  display: none;
  position: absolute;
  right: 1%;
  background-color: #201F1F;
  min-width: 20rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header .navbar .dropdown--nav-content a {
  color: #FFF;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header .navbar .dropdown--nav a:hover {
  background-color: #CFB66C;
  color: #201F1F;
}
.header .navbar .show {
  display: block;
}
.header .navbar__btn {
  position: absolute;
  top: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header .navbar__btn {
    display: none;
  }
}
.header .burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header .burger {
    display: none;
  }
}
.header .btn__burger {
  width: 20px;
  height: 2px;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header .btn__burger {
    display: none;
  }
}
.header .btn__burger::before, .header .btn__burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.header .btn__burger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.header .btn__burger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
.header .navbar__btn.open .btn__burger {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  background: transparent;
}
.header .navbar__btn.open .btn__burger::before {
  -webkit-transform: rotate(45deg) translate(5px, -3px);
          transform: rotate(45deg) translate(5px, -3px);
}
.header .navbar__btn.open .btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(3px, 5px);
          transform: rotate(-45deg) translate(3px, 5px);
}
.header .navbar__list.open {
  top: 0;
  height: 15vh;
  padding: 15rem 0;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
.header.sticky {
  background-color: #201F1F;
  top: 0;
  padding: 2rem 4rem;
}

.hero {
  position: relative;
  padding: 0 4rem;
  height: 100vh;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 90vh;
}
@media screen and (min-width: 992px) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.hero__container .content {
  max-width: 500px;
}
@media screen and (min-width: 992px) {
  .hero__container .content {
    max-width: 520px;
  }
}
.hero__container .content__title {
  font-size: clamp(3.4rem, 6vw, 6.7rem);
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .hero__container .content__title {
    text-align: left;
  }
}
.hero__container .content__p {
  font-family: "Montserrat", sans-serif;
  color: #A1A1A1;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .hero__container .content__p {
    text-align: left;
  }
}
.hero__container .content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .hero__container .content__btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .hero__container .content__btn {
    margin: 0;
  }
}
.hero__container .content__btn .btn {
  width: 80%;
  color: #201F1F;
  text-align: center;
}
.hero__container .content__btn .btn--outline {
  width: 80%;
  text-align: center;
}
.hero__img-container {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.hero__img-container .img-container__img {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 992px) {
  .hero__img-container .img-container__img {
    width: 400px;
    height: 400px;
    margin: 0 0 0 50px;
  }
}
.hero .blur-1, .hero .blur-3, .hero .blur-2 {
  position: absolute;
  background: rgba(207, 182, 108, 0.7);
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
  width: 15rem;
  height: 15rem;
  z-index: -1;
  left: calc(50% - 8rem);
  top: 20rem;
}
@media screen and (min-width: 992px) {
  .hero .blur-1, .hero .blur-3, .hero .blur-2 {
    left: calc(20% - 8rem);
    top: 25%;
  }
}
.hero .blur-2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero .blur-2 {
    display: block;
    left: calc(10% - 8rem);
    background: rgba(207, 182, 108, 0.3);
    top: 70%;
  }
}
.hero .blur-3 {
  display: none;
}
@media screen and (min-width: 992px) {
  .hero .blur-3 {
    display: block;
    left: calc(100% - 30rem);
    background: rgba(207, 182, 108, 0.7);
    top: 20%;
  }
}
.hero__scroll {
  z-index: 2;
}
.hero__scroll .scroll__middle {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero__scroll .scroll__mouse {
  width: 20px;
  height: 35px;
  border: 1px solid #FFF;
  border-radius: 60px;
}
.hero__scroll .scroll__mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 20px;
  background: #FFF;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: mouse 1.2s infinite;
          animation: mouse 1.2s infinite;
}
@-webkit-keyframes mouse {
  from {
    opacity: 1;
    bottom: 20px;
  }
  to {
    opacity: 0;
    bottom: 8px;
  }
}
@keyframes mouse {
  from {
    opacity: 1;
    bottom: 20px;
  }
  to {
    opacity: 0;
    bottom: 8px;
  }
}

.wallets {
  background-color: #FFF;
  padding: 7rem 4rem;
}
.wallets__content .wallets__text {
  text-align: center;
}
.wallets__h2 {
  border-bottom: 2px solid #BF9D36;
  padding-bottom: 1.5rem;
  max-width: 40rem;
  margin: 0 auto;
}
.wallets__p {
  max-width: 100rem;
  margin: 3rem auto 0 auto;
}
.wallets__options {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .wallets__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15rem;
    margin-top: 3rem;
  }
}
.wallets__title-1 {
  margin-bottom: 2rem;
}
.wallets__img-1 {
  -webkit-filter: drop-shadow(3px 3px 5px #201F1F);
          filter: drop-shadow(3px 3px 5px #201F1F);
  margin-bottom: 2rem;
}
.wallets__btn {
  margin: 0 auto;
}
.wallets .dropdown {
  position: relative;
  display: inline-block;
}
.wallets .dropdown-content {
  display: none;
  position: absolute;
  background-color: #201F1F;
  min-width: 20rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.wallets .dropdown-content a {
  color: #FFF;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.wallets .dropdown a:hover {
  background-color: #CFB66C;
  color: #201F1F;
}
.wallets .show {
  display: block;
}

.about {
  padding: 7rem 4rem;
}
.about .about__content {
  text-align: center;
  color: #FFF;
}
.about__h2 {
  color: #FFF;
  border-bottom: 2px solid #BF9D36;
  padding-bottom: 1.5rem;
  max-width: 40rem;
  margin: 0 auto;
}
.about__p {
  max-width: 70rem;
  margin: 3rem auto 0 auto;
}
.about__video {
  width: 100%;
  max-width: 70vw;
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  .about__video {
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .about .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
  }
}
.about .community__left .left__h2 {
  border-bottom: 1px solid #BF9D36;
  padding-bottom: 1rem;
  max-width: 40rem;
  margin: 3rem auto 0 auto;
}
.about .community__left .left__p {
  margin: 3rem auto 3rem auto;
  max-width: 50rem;
}
.about .community__left .left__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 30rem;
  gap: 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .about .community__left .left__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8rem;
  }
}
.about .community__left .left__btn .btn {
  width: 100%;
  max-width: 220px;
  color: #201F1F;
}
.about .community__right .right__h2 {
  border-bottom: 1px solid #BF9D36;
  padding-bottom: 1rem;
  max-width: 40rem;
  margin: 3rem auto 0 auto;
}
.about .community__right .right__p {
  margin: 3rem auto 3rem auto;
  max-width: 50rem;
}
.about .community__right .right__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  max-width: 30rem;
  margin: 0 auto;
}
.about .community__right .right__btn .btn {
  width: 100%;
  max-width: 220px;
  color: #201F1F;
}

.start {
  background-color: #FFF;
  padding: 7rem 4rem;
}
.start__content {
  text-align: center;
}
.start .content__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.start__h2 {
  border-bottom: 2px solid #BF9D36;
  padding-bottom: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
}
.start__img .mobile-img {
  width: 100px;
}
.start .accordion {
  background-color: #BF9D36;
  font-family: "Montserrat", sans-serif;
  color: #201F1F;
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  font-weight: bold;
  border-bottom: 1px solid #CFB66C;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (min-width: 992px) {
  .start .accordion {
    max-width: 90rem;
  }
}
.start .accordion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
}
.start .accordion__p {
  max-width: 70rem;
  margin: 0 auto;
}
.start .accordion__p .btn {
  max-width: 20rem;
  margin: 2rem auto;
}
.start .active, .start .accordion:hover {
  background-color: #CFB66C;
}
.start .panel {
  padding: 4rem 5rem;
  display: none;
  background-color: white;
  overflow: hidden;
}
.start .panel .link--accordion {
  color: #BF9D36;
}

.social {
  background-color: #BF9D36;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
}
.social__icon {
  color: #201F1F;
  font-size: clamp(4rem, 3vw, 4.5rem);
  margin-right: 2rem;
}
.social__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.social .fa-discord {
  margin: 0;
}

.footer {
  padding: 1.5rem 2rem;
}
.footer__content {
  text-align: center;
  max-width: 100rem;
  margin: 0 auto;
}
.footer__p {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  color: #FFF;
}
.footer__p a {
  color: #BF9D36;
}