// Colors
$color-p: #BF9D36;
$color-s: #CFB66C;
$color-black: #201F1F;
$color-white: #FFF;
$color-grey: #A1A1A1;

// Fonts
$font-p: 'Ubuntu', sans-serif;
$font-s: 'Montserrat', sans-serif;

// Font-size
$size-xsmall: 1rem;
$size-small: 1.4rem;
$size-xmedium: 1.6rem;
$size-medium: 1.8rem;
$size-large: 2.0rem;
$size-ml: 3.6rem;
$size-extra-large: 6.7rem;

// Border Radius
$radius: 3px;

// Padding Buttons
$padding-btn: 1.8rem 2.2rem;