@use '../variables/colors-theme' as c;
@use '../variables/typography' as t;
 
@mixin content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 40px 40px;
}
// Buttons
@mixin btn-active {
    background-color: c.$color-primary;
    color: c.$color-black;
    font-weight: 700;
}
@mixin btn-hover {
    background-color: c.$color-secondary;
    color: c.$color-black;
    transition: all .1s ease;
}
// Text
@mixin p {
    color: c.$color-white;
    font-size: t.$font-size-small;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 20px;
}
@mixin h2 {
    text-align: center;
    margin-bottom: 30px;
}
