@use 'colors-theme' as v;
// fonts family
$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

//font-size
$font-size-xsmall: 1rem;
$font-size-small: 1.4rem;
$font-size-xmedium: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.0rem;
$font-size-ml: 3.6rem;
$font-size-extra-large: 6.8rem;

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
    color: v.$color-white;
    font-family: $font-primary;
    font-size: $font-size-ml;
    font-weight: 700;
    line-height: auto;
}
h2 {
    color: v.$color-white;
    font-family: $font-primary;
    font-size: $font-size-ml;
    font-weight: 700;
    line-height: auto;
    text-align: center;
}
h3 {
    color: v.$color-secondary;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: 700;
    line-height: auto;
}

p {
    font-family: $font-secondary;
    font-size: $font-size-medium;
    line-height: 1.5;
    margin: 0;
}

span {
    font-weight: normal;
}

.accordion__icon {
    margin-right: 5px;
}