// BreakPoints
$breakpoints: (
    small: 499px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

// Flex Box
@mixin flexbox($justify, $align, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}