@use '../variables/colors-theme' as c;
@use '../variables/typography' as  t;
@use '../variables/mixins' as m;
@use '../variables/paddings' as p;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: p.$btn-padding-x;
    font-family: t.$font-secondary;
    font-size: t.$font-size-small;
    font-weight: 600;
    background-color: c.$color-primary;
    color: c.$color-black;
    box-shadow: 3px 3px 0px 0px rgba($color: #000, $alpha: 0.3);
    height: 50px;
    text-decoration: none;
    border: 1px solid c.$color-primary;
    outline: none;
    z-index: 5;
    
    &:active {
        @include m.btn-active;
    }
    &:hover {
        @include m.btn-hover;
    }
    &:hover &__icon {
        @include m.btn-hover;
    }

    &--social {
        background-color: c.$color-black;
        color: c.$color-white;
        font-weight: 500;
        font-size: t.$font-size-small;
        border: none;
        margin: 30px 0 40px 0;
    }
    &--blank {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &--outline {
        background-color: transparent;
        font-family: t.$font-secondary;
        font-size: t.$font-size-xmedium;
        color: c.$color-white;
        font-weight: 600;
        border: 1px solid c.$color-primary;
    }
    &--hero:hover {
        @include m.btn-hover;
    }
    &--large-top {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    &--large-bottom {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 300px;
    }
    &--m-left {
        margin: 0 0 10px 0;
        padding: 0 15px;
        width: 48%;
    }
    &--m-right {
        margin: 0 0 10px 0;
        padding: 0 15px;
        width: 48%;
    }
    &__icon {
        color: c.$color-primary;
        margin-right: 11px;
        font-size: 2rem;
    }
    &__icon--p-os {
        color: c.$color-black;
        margin-left: 5px;
        font-size: 1.3rem;
    }
    &__icon--s-os {
        color: c.$color-secondary;
        margin-right: 10px;
        font-size: 2rem;
    }
    &__icon--social {
        color: c.$color-secondary;
        margin-right: 10px;
        font-size: 2rem;
    }
    &__icon--com {
        color: c.$color-black;
        font-size: 2rem;
    }
    &--howto {
        margin: 15px auto;
        max-width: 200px;
    }
}