@use '../variables/colors-theme' as v;
@use '../variables/typography' as  t;
@use '../variables/mixins' as m;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: t.$font-secondary;
    font-size: t.$font-size-xsmall;
    font-weight: 600;
    background-color: v.$color-secondary;
    color: v.$color-black;
    width: 160px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    margin: 15px;
    z-index: 2;
    
    &:active {
        @include m.btn-active;
    }
    &--social {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$color-black;
        color: v.$color-white;
        margin: 50px 0;
    }
    &--secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: v.$color-white;
        font-weight: 500;
        border: 1px solid v.$color-secondary;
        margin: 0;
        outline: none;
    }
    &--large-top {
        width: 100%;
        margin: 0 0 8px 0;
    }
    &--large-bottom {
        width: 100%;
        margin: 0 0 10px 0;
    }
    &--m-left {
        margin: 0 0 10px 0;
        width: 48%;
    }
    &--m-right {
        margin: 0 0 10px 0;
        width: 48%;
    }
    &__icon {
        color: v.$color-secondary;
        margin-right: 11px;
        font-size: 2rem;
    }
    &__icon--p-os {
        color: v.$color-black;
        margin-right: 10px;
        font-size: 2rem;
    }
    &__icon--s-os {
        color: v.$color-secondary;
        margin-right: 10px;
        font-size: 2rem;
    }
    &__icon--com {
        color: v.$color-black;
        margin-right: 0px;
        font-size: 2rem;
    }
    &--howto {
        margin: 15px auto;
    }
}