@use '../variables/colors-theme' as v;
@use '../variables/typography' as t;
@use '../variables/mixins' as m;


.get-wallet {
    background-color: v.$color-secondary;
    padding-top: 0;
    padding-bottom: 0;
    &__content {
        @include m.content;
        padding: 0;
    }
}
.social {
    padding-top: 50px;
}
.social__title {
    font-weight: 600;
    font-size: t.$font-size-xmedium;
    text-align: center;
}
.social__icon {
    color: v.$color-black;
    margin-right: 20px;
    margin-top: 10px;
    font-size: t.$font-size-ml;
}
.social__btn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}