@use '../variables/colors-theme' as v;
@use '../variables/typography' as t;
@use '../variables/layout' as b;
.hero {
    position: relative;
    min-height: calc(100vh + 20px);
    background-color: rgba($color: #000, $alpha: 0.2);
    backdrop-filter: blur(2px);
    
    &__container {
        position: absolute;
        top: 20%;
        width: 100%;
        @include b.breakpoint(large) {
            position: absolute;
            top: 22%;
            width: calc(100% - 200px);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0 100px;
        }
    }
    &__content {
        position: absolute;
        width: calc(100% - 80px);
        padding: 70px 40px;
        height: auto;
        @include b.breakpoint(large) {
            position: relative;
            padding: 70px 0;
            max-width: 500px;
            margin-right: 20px;
        }
    }
    &__title {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
        z-index: 2;
        @include b.breakpoint(large) {
            font-size: t.$font-size-extra-large;
            font-family: t.$font-secondary;
            text-transform: uppercase;
            text-align: left;
            max-width: 550px;
        }
    }
    &__p {
        font-size: t.$font-size-small;
        text-align: center;
        margin: 0 auto;
        color: v.$color-grey;
        margin-bottom: 30px;
        z-index: 2;
        max-width: 400px;;
        @include b.breakpoint(large) {
            font-size: t.$font-size-xmedium;
            text-align: left;
            max-width: 550px;
        }
        @include b.breakpoint(xlarge) {
            font-size: t.$font-size-medium;
        }
    }
    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .btn {
            width: 170px;
            @include b.breakpoint(large) {
                width: 100px;
            }
            @include b.breakpoint(xlarge) {
                width: 130px;
            }
        }
        .btn:first-child {
            margin-bottom: 15px;
            @include b.breakpoint(large) {
                margin-bottom: 0;
            }
        }
        @include b.breakpoint(large) {
            flex-direction: row;
            gap: 20px;
        }
    }
    &__img {
        display: none;
        
        @include b.breakpoint(large) {
            display: block;
            width: 300px;
            height: 300px;
        }
        @include b.breakpoint(xlarge) {
            width: 400px;
            height: 400px;
        }
    }
    &__scroll {
        z-index: 2;

        .scroll__middle {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .scroll__mouse {
            width: 20px;
            height: 35px;
            border: 1px solid v.$color-white;
            border-radius: 60px;
            &::before {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                bottom: 20px;
                background: v.$color-white;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                opacity: 1;
                animation: mouse 1.2s infinite;
            }
            // animation scroll mouse
            @keyframes mouse {
                from {
                    opacity: 1;
                    bottom: 20px;
                } to {
                    opacity: 0;
                    bottom: 8px;
                }
            }
        }
    }
}