@use '../variables/colors-theme' as v;
@use '../variables/typography' as t;
@use '../variables/mixins' as m;

.howto {
    @include m.content;
    background-color: v.$color-white;
    padding-top: 50px;
    padding-bottom: 50px;
    &__h2 {
        @include m.h2;
        max-width: 400px;
        margin: 0 auto 30px auto;
    }
    .howto__img {
        width: 100%;
    }
    .mobile-img {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
    .accordion {
        box-shadow: 3px 3px 0px 0px rgba($color: #000, $alpha: 0.3);
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        font-family: t.$font-secondary;
        background: v.$color-black;

        &__label,
        &__content {
            padding: 20px 20px;
        }
        &__label {
            display: block;
            color: v.$color-white;
            font-size: t.$font-size-xmedium;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            transition: background 0.1s;
            border-bottom: 1px solid v.$color-grey;
        }
        &__label:hover {
            background: rgba($color: v.$color-secondary, $alpha: 0.7);
        }
        &__label::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 12px;
            height: 6px;
            background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
            background-size: contain;
            transition: transform 0.4s;
        }
        &__content {
            background: #ffffff;
            line-height:0;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transition: all .5s ease-out;
        }
        .accordion__p {
            text-align: center;
            font-size: t.$font-size-xmedium;
            line-height: 1.6;
        }
        &__input {
            display: none;
        }
        .accordion__input:checked ~ .accordion__content {
            max-height: 500px;
            padding: 30px 30px;
        }
        .accordion__input:checked ~ .accordion__label::after {
            transform: translateY(-50%) rotate(0.5turn);
        }
    }    
}