@use '../variables/colors-theme' as v;
@use '../variables/typography' as t;
@use '../variables/mixins' as m;

.whatis {
    &__content {
        @include m.content;

        .community {
            display: flex;
            flex-direction: column;
            &__left {
                margin: 0 auto;
            }
            .left__h2 {
                @include m.h2;
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 30px
            }
            .left__p {
                @include m.p;
                margin: 0 auto;
                margin-bottom: 30px;
                max-width: 600px
            }
            .left__btn {
                display: flex;
                width: 100%;
                margin: 0 auto;
                max-width: 300px;
                justify-content: space-between;
                gap: 10px;
            }
            &__right {
                margin-top: 30px
            }
            .right__h2 {
                @include m.h2;
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 30px
            }
            .right__p {
                @include m.p;
                margin: 0 auto;
                margin-bottom: 30px;
                max-width: 600px
            }
        }
    }
    &__p {
        @include m.p;
        max-width: 500px
    }
    &__h2 {
        @include m.h2;
    }
    &__video {
        width: 90%;
        min-height: 200px;
        margin-bottom: 30px;
    }
}